@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<!-- Gina added this comment to push to IRTS-Daniel_TJA_local repository -->
