body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2, .h2 {
    text-align: center;
}

.img-responsive .img {
    text-align: center;
}

.row-margin{
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 5px;
  margin-bottom: 5px
}

/* Uses all form-control traits, but also overrides the max-width set above */
.large-textarea{ 
    max-width:none;
    display: block;
    width: 100%;
    height: 5em;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; 
}
.medium-textinput{
  max-width:none;
  display: block;
  width: 324px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.medium-label{
  max-width:none;
  width: 213px;
  padding-top: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

.small-filler{
  max-width:none;
  width: 53px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/*used for coloring when testing design layout - not for production/release -- TJA*/
.tr-ruler{
      background-color: dimgray;
}

.td-center-color{
  background-color: red;
}

.td-quarter-color{
  background-color: forestgreen;
}

.td-1-wide{
  width: 53px;
}

.td-2-wide{
  width: 106px;
}

.td-3-wide{
  width: 159px;
}

.td-4-wide{
  width: 212px;
}

.td-5-wide{
  width: 265px;
}

.td-6-wide{
  width: 265px;
}

.td-21-wide{
  width: 1139px;
}
